#add_newsbt{
  float: right;
}
#add_newmsg{
  z-index: 0;
}
.modal-content{
  position: absolute;
}


.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px;

}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}
.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px;

}

.timeline-likes .stats-right {
  float: right
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 3px solid #cfd3d9;
  line-height: 30px
}


.post_settings{
  padding-left: 30px;
  padding-top: 30px;
}
.middle{
  text-align: center;
}


