<div class="container">
  <header class="jumbotron">
    <div class="middle">
      <h3><b>News</b></h3>
    </div>
    <div class="timeline-content">
      <div class="alert alert-success" *ngIf="isSuccessful">
        News created successfully!
      </div>
    </div>
      <div class="form-inline">
        <input class="form-control mr-sm-2" [(ngModel)]="Search" type="search" placeholder="Search" aria-label="Search">
      </div>
  </header>


  <body class="jumbotron">

    <div class="form-group" *ngIf="showTeacherBoard">
      <button type="button" id="add_newsbt" class="btn btn-success" (click)="open(contentNewmsg)">Add news</button>
    </div>
    <div class="post_settings">
      <tr *ngFor="let new of news">
        <div class="timeline-header">
          <b><span class="username">{{new.user_name}}</span></b>
        </div>
        <div class="timeline-content">
          <p [innerHTML]="new.text| highlightSearch: Search"></p>
        </div>
        <span>{{timeConverter(new.created)}}</span>
        <div class="form-group" *ngIf="showTeacherBoard">
          <div class="timeline-likes">
            <div class="stats-right" id="add_newsbt">
              <button   class="btn btn-sm btn-warning" (click)="openEdit(contentEditmsg,new)" >Edit</button>
              <button class="btn btn-sm btn-danger"  (click)="openDelete(contentDelete, new)" >Delete</button>
            </div>
          </div>
        </div>
      </tr>
    </div>
  </body>
</div>


<ng-template #contentDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Are you sure you want to delete this record.</h2>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #contentNewmsg let-modal>
  <div class="modal-content" id="add_newmsg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add news </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="text">Text</label>
          <div class="input-group">
            <textarea class="form-control" name="text" type="text" id="exampleFormControlTextarea1" rows="3"  [(ngModel)]="form.text" #text="ngModel"></textarea>
          </div>
        </div>
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #contentEditmsg let-modal>
  <div class="modal-content" id="Editmsg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
          <label for="text">Text</label>
          <div class="input-group">
            <textarea id="text" formControlName="text" class="form-control" name="text" type="text" rows="3" ></textarea>
          </div>
        </div>
        <button data-dismiss="modal" class="btn btn-info" (click)="onEdit()">Save</button>
      </form>
    </div>
  </div>
</ng-template>
